<header>
  <nav>
  <div class="row">
    <div class="left col l2 offset-l1"><%= link_to "tushot", root_url %></div>
     <div class="offset-l7 col l2 "> 
     <ul>  
     <li><% if current_user %> Signed in as <%= current_user.username %> </li>
      <li>|</li>
      <li><%= link_to "Logout", '/logout' %> 
        </li>
      <% else %>
        <li>
         <%= link_to 'Signup', '/signup' %>
        </li>
        <li>|</li> 
       <li>
         <%= link_to 'Login', '/login' %>
         <% end %>
       </li>       
     </ul>
       </div>
      
    </div>
  </nav>
          
</header>