<header>
  <nav>
  <div class="row">
    <a href="#" class="brand-logo">
      <div class="left col l2 offset-l1">
        <div class="logo_image">
          <%= link_to 'links#index' do %>
            <%= image_tag('logo.png') %>
          <% end %>
        </div>
     </div>
    </a>


     <div class="offset-l5 col l4 "> 
     <ul>  
     <li><% if current_user %> Signed in as <%= current_user.username %> </li>
      <li>  |</li>
      <li><%= link_to "Logout", '/logout' %> 
        </li>
      <% else %>
        <li>
         <%= link_to 'Signup', '/signup' %>
        </li>
        <li>|</li> 
       <li>
         <%= link_to 'Login', '/login' %>
         <% end %>
       </li>       
     </ul>
       </div>
      
    </div>
  </nav>
          
</header>