<div class="bg">
  <div id="flash">
    <%= render partial: 'links/flash' %>
  </div>
  <div class="intro container">
    <div class="row">
      <h1>Welcome <%= current_user.username %></h1>
      <p>This is your dashboard</p>
        <br>
      <p> you can input your custom url below</p>
      <div class="row">
        <%= render 'links/vanity_string_form' %>
      </div>
      <div class="shortlink" id="shortlinks"> </div>
    </div>
  </div> 
</div>

<!-- body -->

<div class="container about">
  <h3><%= @count %></h3>
  <h6> victims and counting</h6>
  <hr>
  <div class="row">
    <div class="col l6">
      <h6>Recent</h6>
        <div class="stats card blue-grey darken-1">
          <div class="card-content white-text">
            <table>
              <thead>
                <tr>
                  <th data-field="id">Old Url</th>
                  <th data-field="name">New Url</th>
                  <th data-field="price">Clicks</th>
                </tr>
              </thead>

              <tbody>
                <% @user_links.each do |f| %>
                  <tr>
                    <td><%= link_to "#{ truncate f.long_url, length: 18}", f.long_url %></td>
                    <td><%= link_to "#{root_url}#{f.short_url}", f.short_url %></td>
                    <td><%= f.clicks %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @user_links %>
          </div>
        </div>
    </div>
    <div class="col l6 right">
      <h6>Most Popular</h6>
        <div class="stats card blue-grey darken-1">
          <div class="card-content white-text">
            <table>
              <thead>
                <tr>
                  <th data-field="id">Old Url</th>
                  <th data-field="name">New Url</th>
                  <th data-field="price">Clicks</th>
                </tr>
              </thead>
              <tbody>
                <% @user_popular_links.each do |f| %>
                <tr>
                  <td><%= link_to "#{truncate f.long_url, length: 18}", f.long_url %></td>
                  <td><%= link_to "#{root_url}#{f.short_url}", f.short_url %></td>
                  <td><%= f.clicks %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @user_popular_links %>
          </div>
        </div>
    </div>
  </div>
</div>