<div class="container">
  <div class="signin col l8 offset-l4"> 
    <h2>Signup!</h2>

    <%= form_for :user, url: '/users' do |f| %>

      Username: <%= f.text_field :username %>
      Email: <%= f.text_field :email %>
      Password: <%= f.password_field :password %>
      Password Confirmation: <%= f.password_field :password_confirmation %>
     <div ><%= f.submit "Submit", class: "btn blue" %></div> 

    <% end %>
  </div>
</div>  



