
<!-- <div class="bg"> -->
  <div id="dashboard_bg">
  <div id="details-over">
    <div id="flash">
      <%= render partial: 'links/flash' %>
    </div>
    <div class="intro container">
      <div class="row">
        <h1>Welcome <%= current_user.username %></h1>
        <!-- <p>This is your dashboard</p> -->
          <br>
          <div class="row">
            
          </div>
      
       
      </div>
    </div>
  </div> 
</div>

<!-- body -->

<div class="container about details">
  <div class="row">
    <div class="col l12">
      <h6>YOUR DETAILS EXIST HERE</h6>
       <hr>
        <div class="stats card blue-grey darken-1 recent-left">
          <div class="card-content white-text">
            <table>
              <thead>
                <tr>
                  <th data-field="id">Old Url</th>
                  <th data-field="name">New Url</th>
                  <th data-field="price">Clicks</th>
                  <th data-field="price">Location</th>
                  <th data-field="price">Referrer</th>
                  <th data-field="price">Browser</th>
                </tr>
              </thead>
        
              <tbody>
                <tr>
                    <td><%= @link.long_url %></td>
                    <td><%= @link.short_url %></td>
                    <td><%= @link.clicks %></td>
                    <td><%= @link.details[0].location %></td>
                    <td><%= @link.details[0].refferer %></td>
                    <td><%= @link.details[0].browser %></td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>
    </div>
  </div>
</div>