
<!-- <div class="bg"> -->
  <div id="dashboard_bg">
  <div id="details-over">
    <div id="flash">
      <%= render partial: 'links/flash' %>
    </div>
    <div class="intro container">
      <div class="row">
        <h1>Welcome <%= current_user.username %></h1>
        <!-- <p>This is your dashboard</p> -->
          <br>
          <div class="row">
            
          </div>
      
       
      </div>
    </div>
  </div> 
</div>

<!-- body -->

<div class="container about details">
  <div class="row">
    <div class="col l12">
      <h6>YOUR DETAILS EXIST HERE</h6>
       <hr>
        <div class="stats card blue-grey darken-1 recent-left">
          <div class="card-content white-text">
            <table>
              <thead>
                <tr>
                  <th data-field="id">Old Url</th>
                  <th data-field="name">New Url</th>
                  <th data-field="price">Clicks</th>
                  <th data-field="price">Location</th>
                  <th data-field="price">Referrer</th>
                  <th data-field="price">Browser</th>
                </tr>
              </thead>
        
              <tbody>
                <td><%= link_to "#{truncate "#{@link_details.long_url}", length: 65 }" , @link_details.long_url %></td>
                <td><%= link_to "#{truncate "#{root_url}#{@link_details.short_url}", length:30}", @link_details.short_url %></td>
                <td><%= @link_details.clicks %></td>
                <% if @link_details.details != [] %>
                  <% @location.each do |location| %>
                    <td><%= location.location %></td>
                  <% end %>
                  <% @referrer.each do |referrer| %>
                    <td><%= referrer.referrer %></td>
                  <% end %>
                  <% @browser.each do |browser| %>
                    <td><%= browser.browser %></td>
                  <% end %>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
    </div>
    <div class="back-button">
  <%= link_to "Back to Dashboard", dashboard_path , class: "waves-effect waves-light btn-large" %>
</div>
  </div>
</div>