<div class="bg">

<div id="over">

  <div id="flash">
    <%= render partial: 'flash' %>
  </div>
 
  <div class="intro container">
    <h1 class="grey-text text-lighten-5"> ...and it became tushot! </h1>
    <div class="index_form col l6 off l6">
      <%= render 'form' %>
      </div>
      <div class="col s3">
         <div class="shortlink" id="shortlinks">  </div>
        
      </div>
    </div>

  </div>
 </div>

<div class="container about">
  <h3><%= @count %></h3>
  <h6> victims and counting</h6>
  <hr>
  <div class="row">
    <div class="col l4">
      <h6>Recent Shots</h6>
      <div class="stats card blue-grey darken-1">
        <div class="card-content white-text recent-left">
           <table>
        <thead>
          <tr>

              <th data-field="name">Shots</th>
              <th data-field="price">Recoil</th>
          </tr>
        </thead>

        <tbody>
        <% @most_recent_links.each do |f| %>

          <tr>

            <td><%= link_to "#{truncate "#{root_url}#{f.short_url}", length: 25 }", f.short_url %></td>
            <td><%= f.clicks %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
   </div>

    <div class="col l4 center">
      <h6>Most Popular Shots</h6>
      <div class="stats card blue-grey darken-1">
        <div class="card-content white-text popular-right">
           <table>
        <thead>
          <tr>

              <th data-field="name">Shots</th>
              <th data-field="price">Recoil</th>
          </tr>
        </thead>

        <tbody>
          <% @most_popular_links.each do |f| %>
          <tr>

            <td><%= "#{truncate "#{root_url}#{f.short_url}", length: 25 }" %></td>
            <td><%= f.clicks %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <div class="col l4 right">
      <h6>Notorious Fugitives</h6>
      <div class="stats card blue-grey darken-1">
        <div class="card-content white-text popular-right">
           <table>
        <thead>
          <tr>
   
              <th data-field="name">Fugitives</th>
              <th data-field="shot">Shots</th>

          </tr>
        </thead>
          <tbody>
          <% @most_popular_users.each do |f| %>
          <tr>

            <td><%= "#{truncate "#{f.username}", length: 25 }" %></td>
            <td><%= f.links_count %></td>
       
          </tr>
          <% end %>
        </tbody>
        
      </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>

