<!DOCTYPE html>
<html>
<head>
  <title>Tushot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
<%= render partial: "partials/application_header" %>
<%= javascript_tag do %>
  Materialize.toast('<%=flash[:success]%>', 4000, 'white black-text rounded')
<% end %>

  <%= yield %>
<%= render partial: "partials/application_footer" %>



</body>
</html>
