<!DOCTYPE html>
<html>
<head>
  <title>Tushot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "partials/application_header" %>
  
  <% if flash[:error].present? %>
    <p><%= flash[:error] %></p>
  <% end %>

  <%= yield %>
<%= render partial: "partials/application_footer" %>
</body>
</html>
